/**********customeColume style css for yowoo technology
this is generally screen size for google Nexus 5 360*640px
*************************/



#bodyall{
    font-family: Microsoft JhengHei;
	background-color: #eee;
}

.panel{
  margin-top: 30px;
  margin-left: -20px;
  background-color: #fefdfa;
  position: fixed;
  z-index: 999;
  width: 100%;
}
.nav li a{
  padding: 5px 10px;
}
.topInside{
  margin-top: 15px;
}
.logo img{
  padding: 0 15px;
  margin-top: -5px;
  padding-bottom: 5px;
}
/* down Part*/
.container-fluid{
	  margin-top: -30px;
	  margin-left: 20px;
      padding: 0px;
	}
.flowContent{
  margin-top: 100px;
  margin-left: -18px;
  img{
	border-radius: 5px;
  }
}

.member_pic{
  padding: 10px;
}
.listLeft{
  padding-left: 5px;
  padding-right: 5px;
}
.listRight{
  padding-left: 5px;
  padding-right: 5px;
}

/* query media part for 320px */
@media screen and ( max-width: 320px ) {
	.container-fluid{
	  margin-top: 0;
	}
  .panel{
    margin-top: 0px;
  }
  .nav-pills li img{
    width: 15px;
  }
  .flowContent2{
    margin-top: 37px;
  }
}
/* for inner page*/

.flowContent2{
  margin-top: 67px;
  margin-left: -5px;
}
.title{
  margin-left: 5px;
}
.inner-text{
  margin-left: 5px;
  text-align:left;
}
hr.carved {
  clear: both;
  float: none;
  width: 100%;
  height: 2px;
  margin: 1.4em 0;
  border: none;
  background: #ddd;
  background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0.5, rgb(221,221,221)),
          color-stop(0.5, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
          center top,
          rgb(221,221,221) 50%,
          rgb(255,255,255) 50%
  );
}
.editorInfo{
  margin-left: 5px;
  margin-top: -17px;
  img{
    max-width: 45px;
  }
  p{
    margin-left: 60px;
    margin-top: -30px;
    font-weight: 700;
  }
}
/* member part css*/
.memberTop{
  margin-top: 100px;
}
.member_name{
  font-size: 1.5em;
  font-weight: bold;
  margin-left: -70px;
  margin-top: 20px;
}
.col-xs-5{
  width: 40%;
}

.slideMenu{
  margin-right: 6px;
}
.list-group-item{
  color: #666;
}