/**********customeColume style css for yowoo technology
this is generally screen size for google Nexus 5 360*640px
*************************/

@import "_angularMaterial";

#bodyall{
    font-family: Microsoft JhengHei;
	background-color: #eee;
}

.panel{
  margin-top: 30px;
  margin-left: -20px;
  background-color: #fefdfa;
  position: fixed;
  z-index: 999;
  width: 100%;
}
.nav li a{
  padding: 5px 10px;
}
.topInside{
  margin-top: 15px;
}
.logo img{
  padding: 0 15px;
  margin-top: -5px;
  padding-bottom: 5px;
}
/* down Part*/
.container-fluid{
	  margin-top: -30px;
	  margin-left: 20px;
      padding: 0px;
	}
.flowContent{
  margin-top: 100px;
  margin-left: -18px;
  img{
	border-radius: 5px;
  }
}
.list-group-item{
  padding: 0;
  p{
	padding: 10px;
  }
  h5{
	font-weight: 600;
	margin-left: 75px;
	margin-top: -30px;
  }
}

.member_pic{
  padding: 10px;
}
.listLeft{
  padding-left: 5px;
  padding-right: 5px;
}
.listRight{
  padding-left: 5px;
  padding-right: 5px;
}

/* query media part for 320px */
@media screen and ( max-width: 320px ) {
	.container-fluid{
	  margin-top: 0;
	} 
}


